/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.invalid-input,
.invalid-input:focus {
  outline: 1px solid red;
  outline-offset: -1px;
}

.error-message-helper {
  position: relative;
  padding-bottom: 15px;

  &::after {
    content: attr(data-error);
    color: red;
    font-size: 0.75rem;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  &[data-error]::after {
    opacity: 1;
  }
}
